<div class="carousel-item">
  <img src="public\images\1668285163411-----thumb-1920-1077274.jpg" alt="..."/>
  <div class="carousel-caption d-none d-md-block">
    <h5>Hello</h5>
    <p>...</p>
  </div>
</div>