<head>
  <link rel="stylesheet" href="style4.css">
</head>
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class= footer>
        <p>
          Enjoy our vast catalouge of fresh foods at a low price! All food is organic and picked up fresh from a local farm.
        </p>
        <form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright: Jorge D., Ryan S. and Rayyan O.
    <a class="text-dark" href="#"></a>
  </div>
  <!-- Copyright -->
</footer>